absl-py
astunparse
cachetools
certifi
charset-normalizer
colorama
cycler
flatbuffers
fonttools
gast
geographiclib
geopy
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
joblib
keras
Keras-Preprocessing
kiwisolver
libclang
Markdown
matplotlib
numpy
oauthlib
onnx
onnxruntime-gpu
opencv-python
opt-einsum
packaging
paho-mqtt
pandas
Pillow
playsound==1.2.2
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.8
pyserial
python-dateutil
pytz
PyYAML
requests
requests-oauthlib
rsa
scikit-learn
scipy
six
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
tqdm
typing-extensions
urllib3
Werkzeug
wrapt
zipp